a:hover, a:focus, a:visited {
	text-decoration: none;
}
.df {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
body {
	background: #fafafa;
}

button {
    border: none;
    padding: 0.6em 1.2em;
    background: #6bd0af;
    color: #fff;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
}
button:hover {
    background: #0cb57e;
}


@media (min-width: 1200px)  {
    .container {
        width: 1045px;
    }
}


/* --- 美化input start ---*/

.beauty-input-board .radios input {
    display: none;
}
.beauty-input-board .radios input + label {
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 12px;
}
.beauty-input-board .radios input + label::before {
    content: ' ';
    width: 6px;
    height: 6px;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
}
.beauty-input-board .radios input:checked + label {
    color: #05a7ea;
}
.beauty-input-board .radios input:checked + label::before {
    border: 1px solid #05a7ea;
}
.beauty-input-board .radios input:checked + label::after  {
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 4px;
    background: #05a7ea;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    font-size: 32px;
}
.beauty-input-board .prettify .choice {
    display: inline-block;
}
.beauty-input-board .prettify input + label {
    display: table;
    font-size: 11px;
    width: 150px;
    text-align: center;
    background-color: #F7F8FA;
    color: #666;
    cursor: pointer;
    border: 1px solid #ccc;
}
.beauty-input-board .prettify input + label.label-1 {
    border-radius: 3px 0 0 3px;
}
.beauty-input-board .prettify input + label.label-3 {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #ccc;
}
.beauty-input-board .prettify input + label > strong
{
    display: inline-block;
    line-height: 34px;
    font-weight: 500;
}
.beauty-input-board .prettify input:checked + label
{
    background-color: #f5fdff;
    color: #05a7ea;
    border: 1px solid #61c8f3;
}

/* --- 美化input end ---*/


/* --- 自定义弹窗 start --- */

#custom-popup-board {
    position: absolute;
    top: 200px;
    width: 280px;
    max-width: 72%;
    left: 50%;
    margin-left: -140px;
    border: 2px solid #fff;
    background: #e7f4fe;
    display: none;
    z-index: 99999;
}
#custom-popup-board .popup-board {
    position: relative;
    width: 100%;
    height: 260px;
    text-align: center;
}
#custom-popup-board .popup-board .title {
   line-height: 40px;
   margin: 20px 0;
}
#custom-popup-board .popup-board .popup-content {
   padding: 30px 25px;
}
#custom-popup-board .popup-board i {
    position: absolute;
    top: -20px;
    right: 8px;
    font-style: normal;
    cursor: pointer;
}
#custom-popup-board button {
    position: absolute;
    bottom: 20px;
    left: 100px;
}

/* --- 自定义弹窗 end --- */


.page-content {
    min-height: 800px;
    max-width: 100%;
}
.masthead {
    position: relative;
    z-index: 1;
    width: 100%;
}
.masthead .container {
    background: #09eaf5;
}
.masthead nav {
    justify-content: space-between;
    flex-wrap: wrap;
}
.masthead nav .nav-item {
    padding: 0 20px;
    line-height: 40px;
    color: #fff;
}
#snow {
	position: fixed;
	top: 0;
	z-index: 0;
}
#index-page, #book-page, #book-catalog {
	z-index: 1;
	position: relative;
	top: 0;
	background: #fff;
	max-width: 900px;
	min-height: 100%;
}
.pagination {
	text-align: center;
	width: 100%;
}
.pagination .col-md-12 {
	margin: auto;
}
.pagination a {
	margin: 0 5px;
	padding: 0 5px;
}
.pagination strong {
	margin: 0 5px;
	padding: 0 5px;
}


#footer {
    text-align: center;
    padding: 40px 0 10px;
}


#book-page h2 {
    text-align: center;
}
#book-page .book-set {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    background: #fff;
}
#book-page .page-set {
    padding: 3px;
    line-height: 20px;
    width: 720px;
    margin: auto;
    width: 100%;
    justify-content: space-around;
    white-space: nowrap;
    overflow: hidden;
}
#book-page .page-set span {
    margin-left: 20px;
}
#book-page .page-set .color a {
    border: 1px solid #cccccc;
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    overflow: hidden;
}
#book-page .page-set .family a {
    padding: 0 2px;
}
#book-page .page-set .size a {
    padding: 0 2px;
}
#book-page .book-content {
    background-color: #e7f4fe;
    font-size: 16px;
}
#book-page .book-content .operation {
    text-align: center;
}
#book-page .book-content .operation a {
    display: inline-block;
    border: 1px solid #03ae58;
    padding: 5px .3em;
    margin: .5em;
    border-radius: 3px;
    font-size: 15px;
    color: #129151;
}
@media (max-width: 720px) {
    #book-page .book-content h2 {
        font-size: 18px;
    }
}

#bookcase .bookcase-lists .item {
    padding: 5px 0;
}
#bookcase .bookcase-lists .item > div{
    float: left;
    line-height: 36px;
}
#bookcase .bookcase-lists .item .name {
    width: 20%;
    min-width: 200px;
}
#bookcase .bookcase-lists .item .latest {
    width: 30%;
    min-width: 300px;
}
#bookcase .bookcase-lists .item .bookmark {
    width: 30%;
    min-width: 300px;
}


#book-catalog .bookinfo {
    margin: 20px 0 5px;
}
#book-catalog .bookinfo h1 {
    margin: 0 20px 0 0;
    line-height: 40px;
    font-size: 26px;
}
#book-catalog .bookinfo .name span {
    line-height: 40px;
}
#book-catalog .bookinfo .operation a {
    padding: 5px 10px;
    margin-right: 20px;
    border: 1px solid #03ae58;
    border-radius: 3px;
    display: inline-block;
    color: #129151;
    text-align: center;
}
#book-catalog .latest {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
#book-catalog .desc {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
#book-catalog .catalogs ul {
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
#book-catalog .catalogs ul li {
    width: 280px;
    line-height: 32px;
    border-bottom: 1px solid #eee;
}



#book-index .books-block .item .desc {
    line-height: 18px;
    height: 54px;
    overflow: hidden;
}



#book-search .books-block .item .desc {
    line-height: 18px;
    height: 54px;
    overflow: hidden;
}


#book-category .books-block ul {
    list-style: none;
}
#book-category .books-block ul li .status {
    margin-left: 20px;
}